.field{
    width: 1000px;
    height: 1000px;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-template-rows: repeat(20,1fr);
    margin: auto;
}
.Control .block{
    content: ' ';
    white-space: pre;
    width: 400px;
    height: 300px;
    background-color: #ccc;
    grid-column: 12/20;
    grid-row: 3/8;
}
.Control .picture{
    width: 695px;
    grid-column: 5/19;
    grid-row: 4/13;
}
.info{
    display: flex;
    width: 350px;
    flex-wrap: wrap;
    color: white;
}
.Control .info{    
    grid-column: 1/9;
    grid-row: 1/8;
}
.title{
    margin: 0;
    width: 100%;
    display: flex;
    background-color: red;
    align-items: center;
}
.title h1{    
    width: 100%;
    text-align: center;
    font-size: 50px;
}
.title span{
    writing-mode: vertical-lr;   
    font-size: 100px;
}
.titlecontent{
    width: 100%;
    margin: 0;
    padding: 20px;
    background-color: black;
}
.titlecontent h2{
    margin: 0;
}
.titlecontent p{
    font-size: 20px;
    line-height: 35px;
    color: #ccc;
}
.Control .youtubeicon{
    grid-column: 18/19;
    grid-row: 8/9;
}
.revolution{
    width: 682px;
    background-color: #ccc;
    display: flex;
    flex-wrap: wrap;
    padding-inline: 20px;
}
.revolution-title{
    display: flex;
    align-items: center;
    color: red;
}
.revolution-title hr{
    background-color: red;
    width: 450px;
    height: 1px;
    margin: 5px;
}
.revolution h4{
    margin: 0;
    margin-right: auto;
    padding: 3px;
    color: #ccc;
    background-color: black;
}
.revolution p{
    width: 100%;
    padding-left: 10px;
}
.revolution p::before{
    content: "";
    display: inline-block;
    height: 4px;
    width: 4px;
    position: relative;
    top: -5px;
    right: 2px;
    background-color: red;
}
.Control .revolution{
    grid-column: 3/17;
    grid-row: 11/19;
}
.Safety .block{
    content: ' ';
    white-space: pre;
    width: 500px;
    height: 400px;
    background-color: #ccc;
    grid-column: 7/17;
    grid-row: 3/11;
}
.Safety .picture{
    width: 695px;
    grid-column: 2/16;
    grid-row: 4/15;
}
.Safety .info{
    grid-column: 13/20;
    grid-row: 1/10;
}
.Safety .title{
    flex-direction: row-reverse;
}
.Safety .youtubeicon{
    grid-column: 2/3;
    grid-row: 8/9;
}
.Safety .revolution{
    grid-column: 6/21;
    grid-row: 12/17;
}
.Comfortable .picture{
    width: 695px;
    grid-column: 5/19;
    grid-row: 4/13;
}
.Comfortable .block{
    content: ' ';
    white-space: pre;
    width: 400px;
    height: 300px;
    background-color: #ccc;
    grid-column: 12/20;
    grid-row: 3/8;
}
.Comfortable .info{
    grid-column: 1/9;
    grid-row: 1/8;
}
.Comfortable .youtubeicon{
    grid-column: 18/19;
    grid-row: 8/9;
}
.Comfortable .revolution{
    grid-column: 3/17;
    grid-row: 11/19;
}
.People .block{
    content: ' ';
    white-space: pre;
    width: 500px;
    height: 400px;
    background-color: #ccc;
    grid-column: 7/17;
    grid-row: 3/11;
}
.People .picture{
    width: 695px;
    grid-column: 2/16;
    grid-row: 4/15;
}
.People .info{
    grid-column: 13/20;
    grid-row: 1/10;
}
.People .title{
    flex-direction: row-reverse;
}
.People .youtubeicon{
    grid-column: 2/3;
    grid-row: 8/9;
}
.People .revolution{
    grid-column: 6/21;
    grid-row: 12/17;
}
.Proud .picture{
    width: 695px;
    grid-column: 5/19;
    grid-row: 4/13;
}
.Proud .block{
    content: ' ';
    white-space: pre;
    width: 400px;
    height: 300px;
    background-color: #ccc;
    grid-column: 12/20;
    grid-row: 3/8;
}
.Proud .info{
    grid-column: 1/9;
    grid-row: 1/8;
}
.Proud .youtubeicon{
    grid-column: 18/19;
    grid-row: 8/9;
}
.Proud .revolution{
    grid-column: 3/17;
    grid-row: 11/16;
}